@import url(variables.css);
 *{
    margin: 0;
 }
.banner{
    display: flex;
    position: absolute;
    margin: 0;
    z-index: -3;
}

.banner img{
    width: 90%;
    height: 100vh;
    margin: 0 240px;
}

.titulo{
    width: 700px;
    font-size: 2.8em;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    margin: 250px 580px;
    position: absolute;
    z-index: 0;
}

.texto p{
    position: absolute;
    /*background: red;*/
    text-align: center;
    width: 24%;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 17px;
    margin: 460px 700px;
}

.texto button{
    position: absolute;
    background: black;
    color: white;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    margin-top: 550px;
    margin-left:850px;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}