@import url(variables.css);


.banner{
    width: 99%;
    display: flex;
    /*background: red;*/
    position: absolute;
    z-index: -1;    
}

.banner img{
    width: 60%;
    margin-top: 330px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    

}

.main__texto{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 20%;
}

.titulo h1{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    width: 590px;
    height: 100px;
    font-size: 80px;
    /*background: red;*/
    margin: 50px 0px;
}

.parrafo p{
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
    /*background: pink;*/
    font-size: 20px;
    width: 430px;
    margin: 80px 0;
}

.boton button{
    background: var(--color-boton);
    width: 130px;
    height: 40px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    color: white;
    border-radius: 10px;
    position: absolute;
    margin: -65px -5px;
}